<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "../static/css/fashion.css" rel="stylesheet">
    <meta name="description" content="Gallery">
    <meta name="viewport" content="width=device-width">
    <title>KAMATAGallery</title>
    <link rel="stylesheet" media="all" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
    <link href = "../static/css/regist.css" rel="stylesheet">

</head>
<body id="top">
<header id="header">
  <div id="headerWrap">
    <h1>KAMATA<br>Gallery</h1>
    <nav id="mainnav">
      <p id="menuWrap"><a id="menu"><span id="menuButton"></span></a></p>
      <div class="panel">
        <ul>
          <li><a href="/">TOP</a></li>
          <li><a href="/fashion">Fashion</a></li>
          <li><a href="/art">Art</a></li>
          <li><a href="/food">Food</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/photo">Photo</a></li>
          <li><a href="/company">Company</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
</body>
    <title>Fashion</title>
</head>
<body>


    <header>
        <div class = "header">
            <div class = "header-logo"><a href="google.com"><h2>Kamata<br>Gallary</h2></a></div>
        </div>
    </header>

    <div class="fashion-contents">

        <div class = "fashion-content">
            <div class = "1">
　　　　　　　　　 <div class = "fashion-img">
                   <div class = "fashionimg1">
                    <div class="modal-wrapper">
                        <img src="../static/img/1_1.JPG" alt="beforepop" class="modal-image">
                   </div>
                   <div class="wrapper">
                    <img src="../static/img/1_1.JPG" alt="" class="image" data-src="../static/img/11.JPG">
                   </div>
                </div>
               <div class = "fashion-name">
                   <div class = "fashionname1">
                      <h3>『INVISIBLE』</h3>
                   </div>
               </div>
               <div class = "fashion-explain">
                   <div class = "fashionexplain1">
                       <p>心は見えない。をテーマに揺らぐ文字、無限に広がる空の色である青で表現した。</p>
                   </div>
               </div>
            </div>
        </div>

        <div class = "fashion-content">
            <div class = "2">
            　　<div class = "fashion-img">
                    <div class = "fashionimg2">
                        <div class="modal-wrapper">
                            <img src="../static/img/2.JPG" alt="beforepop" class="modal-image">
                       </div>
                       <div class="wrapper">
                        <img src="../static/img/2.JPG" alt="" class="image" data-src="../static/img/22_1.JPG">

                       </div>
                    </div>
                </div>
                <div class = "fashion-name">
                    <div class = "fashionname2">
                        <h3>『GARDEN』</h3>
                    </div>
                </div>
                <div class = "fashion-explain">
                    <div class = "fashionexplain2">
                        <p>フランス庭園から着想を得た本作品。フランス庭園の様に幾何学的で整ったデザイン</p>
                    </div>
                </div>
            </div>
        </div>

        <div class = "fashion-content">
            <div class = "3">
                <div class = "fashion-img">
                    <div class = fashionimg3>

                       <div class="modal-wrapper">
                            <img src="../static/img/3.JPG" alt="beforepop" class="modal-image">
                       </div>

                       <div class="wrapper">
                            <img src="../static/img/3.JPG" alt="" class="image" data-src="../static/img/33_1.JPG">
                       </div>
                    </div>
                </div>
                <div class = "fashion-name">
                    <div class = "fashionname3">
                        <h3>『Paris』</h3>
                    </div>
                </div>
                <div class = "fashion-explain">
                    <div class = "fashionexplain3">
                        <p>フランス パリ 静寂と喧騒が同居する早朝６時。<br>太陽が石畳を照らし始める光景をプリントした。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class = "fashion-content">
            <div class = "4">
                <div class = "fashion-img">
                    <div class = fashionimg4>

                       <div class="modal-wrapper">
                            <img src="../static/img/4.JPG" alt="beforepop" class="modal-image">
                       </div>
                       <div class="wrapper">
                            <img src="../static/img/4.JPG" alt="" class="image" data-src="../static/img/44.JPG">
                       </div>
                    </div>
                </div>
                <div class = "fashion-name">
                    <div class = "fashionname4">
                        <h3>『CHILDHOOD』</h3>
                    </div>
                </div>
                <div class = "fashion-explain">
                    <div class = "fashionexplain4">
                        <p>デザイナーが幼少期から着想を得た本作品<br>「炎は歳月が経っても美しく感じ、力がある」そんな想いを落とし込んだ</p>
                    </div>
                </div>
            </div>
        </div>


        <div class = "fashion-content">
            <div class = "5">
                <div class = "fashion-img">
                    <div class = fashionimg5>

                       <div class="modal-wrapper">
                            <img src="../static/img/5.JPG" alt="beforepop" class="modal-image">
                       </div>

                       <div class="wrapper">
                            <img src="../static/img/5.JPG" alt="" class="image" data-src="../static/img/55.PNG">
                            <script src="../static/js/popup.js"></script>
                       </div>
                    </div>
                </div>
                <div class = "fashion-name">
                    <div class = "fashionname5">
                        <h3>『始まり』</h3>
                    </div>
                </div>
                <div class = "fashion-explain">
                    <div class = "fashionexplain5">
                        <p>ANDWEの開始日を16進数を用いてプリント。デザイナーの今を取り巻く環境を反映している。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="brand">
           <div class="explain">
               <h3>BRANDS</h3>
               <h1>『 A N D W E 』</h1>
               <p>２０１９年スタート。テーマは「Our mind」,「Our　Archive」<br>日常にフォーカスを当てた服を展開する。<br>
                  Hello, We start 2019. Our theme is 「Our Mind」and 「Our Archive」<br>
                  We design T-shirts focus on our days.<br>　　
            　　</p>
           </div>
        </div>



    </div>

</body>
</html>
