<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>KAMATAGallery</title>
    <link rel="stylesheet" media="all" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>

    </head>
    <body id="top">
    <header id="header">
    <div id="headerWrap">
    <h1>KAMATA<br>Gallery</h1>
    <nav id="mainnav">
      <p id="menuWrap"><a id="menu"><span id="menuButton"></span></a></p>
      <div class="panel">
        <ul>
          <li><a href="/">TOP</a></li>
          <li><a href="/fashion">Fashion</a></li>
          <li><a href="/art">Art</a></li>
          <li><a href="/food">Food</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/photo">Photo</a></li>
          <li><a href="/company">Company</a></li>
        </ul>
      </div>
    </nav>
    </div>
    </header>
    </body>


  <body>
    <div class="contents">

     <div class="content1">
      <img src="../static/img/photo1.JPG">
      <h5>「荒れる海面」</h5>
      <input type="submit" value="Add Favorite" class="button">
     </div>

     <div class="content2">
      <img src="../static/img/photo2.JPG">
      <h5>「絵を覗く2人」</h5>
      <input type="submit" value="Add Favorite" class="button">
     </div>


     <div class="content3">
      <img src="../static/img/photo3.JPG">
      <h5>「薄暮」</h5>
      <input type="submit" value="Add Favorite" class="button">

     </div>

     <div class="content4">
      <img src="../static/img/photo4.JPG">
      <h5>「海面と富士山」</h5>
      <input type="submit" value="Add Favorite" class="button">
     </div>

     <div class="content5">
      <img src="../static/img/photo5.JPG">
      <h5>「初冠雪」</h5>
      <input type="submit" value="Add Favorite" class="button">

     </div>


    </div>
    <a href="/">ホーム画面へ</a>

  </body>
</html>
