<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Photo</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
  </head>
  <body>
    <header>
      <div class="header-logo">
        <h3>Kamata <br><span>Gallery</span></h3>
      </div>
    </header>


    <div class="contents">

     <div class="content1">
      <img src="../static/img/photo1.jfif">
      <h5>荒れる海面</h5>
      <input type="submit" name="savepost" value="お気に入り登録">
     </div>

     <div class="content2">
      <img src="../static/img/photo2.JPG">
      <h5>絵を覗く2人</h5>
      <input type="submit" name="savepost" value="お気に入り登録">
     </div>

     <div class="content3">
      <img src="../static/img/photo3.JPG">
      <h5>薄暮</h5>
      <input type="submit" name="savepost" value="お気に入り登録">

     </div>

     <div class="content4">
      <img src="../static/img/photo4.JPG">
      <h5>海面と富士山</h5>
      <input type="submit" name="savepost" value="お気に入り登録">

     </div>

     <div class="content5">
      <img src="../static/img/photo5.JPG">
      <h5>初積雪</h5>
      <input type="submit" name="savepost" value="お気に入り登録">

     </div>


    </div>


  </body>
</html>
