
body {
  background-color: black;
  color:white;
}

header h3 {
  text-align: center;
}


.contents {
display:inline-block;
}

.content1 {
  display: inline-block;
  margin-bottom:20px;
}

.content2 {
  margin-bottom:20px;
  display:inline-block;
  padding:0;
  border: solid;

}

.content3 {
  margin-bottom:20px;
  border: solid;
}

.content4 {
  margin-bottom:20px;
  border: solid;
}

.content5 {
  margin-bottom:20px;
}

.content1 img {
  width:40%;
  height:40%;

}

.content2 img {
  width:40%;
  height:40%;
}

.content3 img {
  width:40%;
  height:40%;
}

.content4 img {
  width:40%;
  height:40%;
}

.content5 img {
  width:40%;
  height:40%;
}
